<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Registration</title>

</head>
<body>
    <div class="container">
<h1>Sign Up!</h1><br>

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="first name"><br><br>
        <input type="text" name="last_name" placeholder="last name"><br><br>
        <input type="text" name="username" placeholder="username"><br><br>
        <input type="email" name="email" placeholder="email"><br><br>
        <input type="password" name="password1" placeholder="password"><br><br>
        <input type="password" name="password2" placeholder="confirm"><br><br>
        <button type="submit">Submit</button>
    </form>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</div>
</body>
</html>